<div class="col-md-12">
  <div class="card card-container">
    <form
      *ngIf="!this.authService.isSuccessfull"
      name="registerForm"
      (ngSubmit)="register.form.valid && onSubmit()"
      #register="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          [(ngModel)]="registerForm.username"
          required
          minlength="3"
          maxlength="20"
          #username="ngModel"
        />
        <div class="alert-danger" *ngIf="username.errors && register.submitted">
          <div *ngIf="username.errors.required">Username is required</div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="registerForm.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && register.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="registerForm.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && register.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox"
          name="newsletter"
          id="newsletter"
          class="form-check-input"
          #newsletter="ngModel"
          [(ngModel)]="registerForm.newsletter">
          <label for="newsletter" class="form-check-label">Subscribe to our newsletters</label>
      </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>
      <div class="alert alert-warning" *ngIf="register.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="this.authService.isSuccessfull">
      Your registration is successful!
    </div>
  </div>
  <div *ngIf="!this.authService.isSuccessfull" class="card-container">
    <p>Or you can</p>
    <button class="btn-google btn-secondary" (click)="signupWithGoogle()">Signup with google</button>
  </div>
</div>
